{% extends 'base.html.twig' %}

{% block title %} | Accueil{% endblock %}

{% block body %}
<style>
    .example-wrapper h2 { position: relative; font-size: 2rem; text-align: center; font-weight: 300; margin: 30px auto; max-width: 60% }
    .example-wrapper h2:after { content: ''; position: absolute; bottom: -30px; left: calc(50% - 200px); width: 400px; height: 1.5px; background: #000; }
</style>

<div class="example-wrapper">
    <h2>La plateforme qui centralise tout ce qui concerne l'épidémie de COVID-19</h2>

    <div class="live-button-container">
        <a href="{{ path('liveAPI') }}">
            <svg width="22" height="22" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.5625 10.5H1.75V2.1875C1.75 1.94578 1.55422 1.75 1.3125 1.75H0.4375C0.195781 1.75 0 1.94578 0 2.1875V11.375C0 11.8582 0.391836 12.25 0.875 12.25H13.5625C13.8042 12.25 14 12.0542 14 11.8125V10.9375C14 10.6958 13.8042 10.5 13.5625 10.5ZM12.6875 2.625H9.4593C8.87469 2.625 8.58184 3.33184 8.99527 3.74527L9.88121 4.63121L7.875 6.6377L5.86879 4.63148C5.52699 4.28969 4.97301 4.28969 4.63148 4.63148L2.75324 6.50973C2.58234 6.68062 2.58234 6.95762 2.75324 7.12852L3.37176 7.74703C3.54266 7.91793 3.81965 7.91793 3.99055 7.74703L5.25 6.4873L7.25621 8.49352C7.59801 8.83531 8.15199 8.83531 8.49352 8.49352L11.1185 5.86852L12.0045 6.75445C12.4179 7.16789 13.1247 6.87504 13.1247 6.29043V3.0625C13.125 2.82078 12.9292 2.625 12.6875 2.625Z" fill="white"/>
            </svg>
            Evolution en direct
        </a>
    </div>
    <div class="container-selection">
        <div class="card_section_depistage">
            <a href="{{ path('depistage') }}">
                <span class="card_section_top"></span>
                <span class="card_section_content">
                    <div class="card_section_bulle">
                        <img class="card_section_img" src="{{ asset('img/home/bulle_depistage.png') }}" alt="Dépistage">
                        <span>
                            <h3>Vous pensez être atteint ?</h3>
                            <p>Faites notre dépistage gratuit en ligne, et prenez rendez-vous avec le médecin le plus proche!</p>
                        </span>
                    </div>
                    <img class="card_section_img" src="{{ asset('img/home/picto_depistage.png') }}" alt="Dépistage">
                </span>
                <span class="card_section_bottom"></span>
            </a>
        </div>
        <div class="card_section_informations">
            <a href="{{ path('informations') }}">
                <span class="card_section_top"></span>
                <span class="card_section_content">
                    <div class="card_section_bulle">
                        <img class="card_section_img" src="{{ asset('img/home/bulle_info.png') }}" alt="Informations pratiques">
                        <span>
                            <h3>Je souhaite m’informer !</h3>
                            <p>Besoin de faire un jogging ? Téléchargez directement l’attestion dérogatoire et consultez les bonnes pratiques à adopter!</p>
                        </span>
                    </div>
                    <img class="card_section_img" src="{{ asset('img/home/picto_info.png') }}" alt="Informations pratiques">
                </span>
                <span class="card_section_bottom"></span>
            </a>
        </div>
        <div class="card_section_sondage">
            <a href="{{ path('sondage') }}">
                <span class="card_section_top"></span>
                <span class="card_section_content">
                    <div class="card_section_bulle">
                        <img class="card_section_img" src="{{ asset('img/home/bulle_sondage.png') }}" alt="Sondage">
                        <span>
                            <h3>Je veux aider la recherche</h3>
                            <p>Répondez rapidement à ce questionnaire anonyme! Les données seront analysées par des équipes médicales.</p>
                        </span>
                    </div>
                    <img class="card_section_img" src="{{ asset('img/home/picto_sondage.png') }}" alt="Sondage">
                </span>
                <span class="card_section_bottom"></span>
            </a>
        </div>
    </div>
</div>
{% endblock %}
