{% extends 'base.html.twig' %}

{% block title %} | Prise de rendez-vous{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('rendezvous') }}
{% endblock stylesheets %}

{% block body %}
    <div class="section_rdv">
        <div class="info_left-side">
            <div>
                <p class="result-depistage">{{ points }} %</p>
            </div>
            <div class="info_img_container">
                <div class="card_section_bulle">
                    <img class="card_section_img" src="/img/home/bulle_depistage.png" alt="Dépistage">
                    <span>
                        {% if points >= 50 %}
                            <p>Il se peut que vous soyez atteint par le COVID-19. Vous devriez prendre rapidement rendez-vous.</p>
                        {% else %}
                            <p>Il est peu probable que vous ayez le COVID-19. Vous pouvez tout de même prendre rendez-vous.</p>
                        {% endif %}
                    </span>
                </div>
                <img id="picto_informations" src="{{ asset('img/depistage/rdv/picto_rdv.svg') }}" alt="Informations">
            </div>
        </div>
        <div class="info_right-size">
            <h2>Prise de rendez-vous</h2>

            <div class="rdvForm">
                {{ form_start(rdvForm) }}
                   <div class="form-rdv">
                       <div class="rdv-form-part rdv-form_left">
                           <div class="rdv-form_field">
                               {{ form_label(rdvForm.firstname, "Prénom *") }}
                               {{ form_widget(rdvForm.firstname) }}
                           </div>
                           <div class="rdv-form_field">
                               {{ form_label(rdvForm.city, "Ville *") }}
                               {{ form_widget(rdvForm.city) }}
                           </div>
                       </div>
                       <div class="rdv-form-part rdv-form_right">
                           <div class="rdv-form_field">
                               {{ form_label(rdvForm.lastname, "Nom * ") }}
                               {{ form_widget(rdvForm.lastname) }}
                           </div>
                           <div class="rdv-form_field">
                               {{ form_label(rdvForm.tel, "N° téléphone") }}
                               {{ form_widget(rdvForm.tel) }}
                           </div>
                       </div>
                       <div class="rdv-form_field rdv-form_field_date">
                           {{ form_label(rdvForm.date, "Date de rendez-vous *") }}
                           {{ form_widget(rdvForm.date) }}
                       </div>
                   </div>
                    <div class="rdv-form_field_submit">
                        <div class="btn-submit">
                            {{ form_widget(rdvForm.send) }}
                        </div>
                    </div>
                {{ form_end(rdvForm) }}
            </div>
        </div>
    </div>
{% endblock %}
